---
layout: 'layouts/base.njk'
---
<section class="bg-white py-12 px-8">
    <div class="mx-auto grid max-w-5xl grid-cols-1 items-center gap-12 py-6 md:grid-cols-2 md:py-12">
        <img src="/assets/hero-image1.png" alt="" class="max-h-[32rem] rounded-full" />
        <div>
            <h1 class="text-4xl font-bold loading-[1.1] text-blue-600 md:text-5xl">Just a small town boy...</h1><br>
            <p class="pt-4 text-lg leading-[1.5] text-blue-600">
                Livin' in a lonely world. He took the midnight train going... toward landing his first tech job!
            </p>
            <p class="pt-4 text-lg leading-[1.5] text-blue-600">
                Hi! My name is Brendan, and I am a software developer in Stockton, California. I love going on leisurely drives around town, while listening to atmospheric R&B and reminiscing about growing up in Cameroon, Africa. You can see some pics of my childhood <a href="#">here</a>.<br>
            </p>
            <p class="pt-4 text-lg leading-[1.5] text-blue-600">
                I am still learning how to code...
            </p>
        </div>
    </div>
</section>

