<header class="w-full bg-white flex justify-between items-center px-6 py-4 md:px-8">
    <a href="#" class="flex items-center">
        <img src="/assets/logo.jpg" alt="logo" class="h-12">
        <h1 class="text-4xl font-bold text-blue-600 ml-2">Brendan Ngwa Nforbi</h1>
    </a>
    
    <nav class="ml-4"> <!-- Added margin-left -->
        <ul class="flex gap-10 font-semibold text-sm">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
</header>

